.jumbotron {
    background-color: rgba(34, 34, 173, 0.596);
    color: white;
}

.container {
    text-align: center;
}

.row {
    background-color: whitesmoke;
}

.col {
    background-color: teal;
    height: 12px;
    margin-bottom: 10px;
}

.col-10 {
    background-color: gray;
    margin-bottom: 10px;
    height: 12px;
}